body {
  background-color: #f00;
}

main {
  position: relative;
  width: 540px;
  height: 540px;
  margin: 50px auto;
  background-color: #111;
}

.centered, .ticks span, .dot, #subsecond:after, #subsecond, #second, .clock, .case {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.case {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 10px solid #eee;
}

.clock {
  background-color: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ccc;
}

#second {
  height: 35%;
  margin-left: -2px;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform-origin: 50% 0%;
  transform: rotate(0deg);
}

#subsecond {
  height: 40%;
  margin-left: -1px;
  border-left: 1px solid #FFCD00;
  border-right: 1px solid #FFCD00;
  transform-origin: 50% 0%;
  transform: rotate(0deg);
}

#subsecond:after {
  content: " ";
  top: -20px;
  border-left: 5px solid #FFCD00;
  border-bottom: 15px solid #FFCD00;
  border-top: 15px solid #FFCD00;
  border-radius: 25% 25% 0px 0px;
}

.dot {
  background-color: #000;
  height: 5px;
  width: 5px;
  border: 10px solid #FFCD00;
  border-radius: 50%;
}

.ticks span {
  border-top: 2px solid #fff;
  width: 20px;
  transform: rotate(0deg);
  left: calc(50% - 10px);
}
.ticks span:nth-child(1) {
  transform: rotate(6deg) translateX(230px);
}
.ticks span:nth-child(2) {
  transform: rotate(12deg) translateX(230px);
}
.ticks span:nth-child(3) {
  transform: rotate(18deg) translateX(230px);
}
.ticks span:nth-child(4) {
  transform: rotate(24deg) translateX(230px);
}
.ticks span:nth-child(5) {
  transform: rotate(30deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(6) {
  transform: rotate(36deg) translateX(230px);
}
.ticks span:nth-child(7) {
  transform: rotate(42deg) translateX(230px);
}
.ticks span:nth-child(8) {
  transform: rotate(48deg) translateX(230px);
}
.ticks span:nth-child(9) {
  transform: rotate(54deg) translateX(230px);
}
.ticks span:nth-child(10) {
  transform: rotate(60deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(11) {
  transform: rotate(66deg) translateX(230px);
}
.ticks span:nth-child(12) {
  transform: rotate(72deg) translateX(230px);
}
.ticks span:nth-child(13) {
  transform: rotate(78deg) translateX(230px);
}
.ticks span:nth-child(14) {
  transform: rotate(84deg) translateX(230px);
}
.ticks span:nth-child(15) {
  transform: rotate(90deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(16) {
  transform: rotate(96deg) translateX(230px);
}
.ticks span:nth-child(17) {
  transform: rotate(102deg) translateX(230px);
}
.ticks span:nth-child(18) {
  transform: rotate(108deg) translateX(230px);
}
.ticks span:nth-child(19) {
  transform: rotate(114deg) translateX(230px);
}
.ticks span:nth-child(20) {
  transform: rotate(120deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(21) {
  transform: rotate(126deg) translateX(230px);
}
.ticks span:nth-child(22) {
  transform: rotate(132deg) translateX(230px);
}
.ticks span:nth-child(23) {
  transform: rotate(138deg) translateX(230px);
}
.ticks span:nth-child(24) {
  transform: rotate(144deg) translateX(230px);
}
.ticks span:nth-child(25) {
  transform: rotate(150deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(26) {
  transform: rotate(156deg) translateX(230px);
}
.ticks span:nth-child(27) {
  transform: rotate(162deg) translateX(230px);
}
.ticks span:nth-child(28) {
  transform: rotate(168deg) translateX(230px);
}
.ticks span:nth-child(29) {
  transform: rotate(174deg) translateX(230px);
}
.ticks span:nth-child(30) {
  transform: rotate(180deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(31) {
  transform: rotate(186deg) translateX(230px);
}
.ticks span:nth-child(32) {
  transform: rotate(192deg) translateX(230px);
}
.ticks span:nth-child(33) {
  transform: rotate(198deg) translateX(230px);
}
.ticks span:nth-child(34) {
  transform: rotate(204deg) translateX(230px);
}
.ticks span:nth-child(35) {
  transform: rotate(210deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(36) {
  transform: rotate(216deg) translateX(230px);
}
.ticks span:nth-child(37) {
  transform: rotate(222deg) translateX(230px);
}
.ticks span:nth-child(38) {
  transform: rotate(228deg) translateX(230px);
}
.ticks span:nth-child(39) {
  transform: rotate(234deg) translateX(230px);
}
.ticks span:nth-child(40) {
  transform: rotate(240deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(41) {
  transform: rotate(246deg) translateX(230px);
}
.ticks span:nth-child(42) {
  transform: rotate(252deg) translateX(230px);
}
.ticks span:nth-child(43) {
  transform: rotate(258deg) translateX(230px);
}
.ticks span:nth-child(44) {
  transform: rotate(264deg) translateX(230px);
}
.ticks span:nth-child(45) {
  transform: rotate(270deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(46) {
  transform: rotate(276deg) translateX(230px);
}
.ticks span:nth-child(47) {
  transform: rotate(282deg) translateX(230px);
}
.ticks span:nth-child(48) {
  transform: rotate(288deg) translateX(230px);
}
.ticks span:nth-child(49) {
  transform: rotate(294deg) translateX(230px);
}
.ticks span:nth-child(50) {
  transform: rotate(300deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(51) {
  transform: rotate(306deg) translateX(230px);
}
.ticks span:nth-child(52) {
  transform: rotate(312deg) translateX(230px);
}
.ticks span:nth-child(53) {
  transform: rotate(318deg) translateX(230px);
}
.ticks span:nth-child(54) {
  transform: rotate(324deg) translateX(230px);
}
.ticks span:nth-child(55) {
  transform: rotate(330deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(56) {
  transform: rotate(336deg) translateX(230px);
}
.ticks span:nth-child(57) {
  transform: rotate(342deg) translateX(230px);
}
.ticks span:nth-child(58) {
  transform: rotate(348deg) translateX(230px);
}
.ticks span:nth-child(59) {
  transform: rotate(354deg) translateX(230px);
}
.ticks span:nth-child(60) {
  transform: rotate(360deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}

@keyframes animate-hand-0 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.animate #second.second-0 {
  animation: animate-hand-0 60s linear infinite;
}

.animate #subsecond.subsecond-0 {
  animation: animate-hand-0 1s linear infinite;
}

#second.second-0,
#subsecond.subsecond-0 {
  transform: rotate(-180deg);
}

@keyframes animate-hand-1 {
  from {
    transform: rotate(-174deg);
  }
  to {
    transform: rotate(186deg);
  }
}
.animate #second.second-1 {
  animation: animate-hand-1 60s linear infinite;
}

.animate #subsecond.subsecond-1 {
  animation: animate-hand-1 1s linear infinite;
}

#second.second-1,
#subsecond.subsecond-1 {
  transform: rotate(-174deg);
}

@keyframes animate-hand-2 {
  from {
    transform: rotate(-168deg);
  }
  to {
    transform: rotate(192deg);
  }
}
.animate #second.second-2 {
  animation: animate-hand-2 60s linear infinite;
}

.animate #subsecond.subsecond-2 {
  animation: animate-hand-2 1s linear infinite;
}

#second.second-2,
#subsecond.subsecond-2 {
  transform: rotate(-168deg);
}

@keyframes animate-hand-3 {
  from {
    transform: rotate(-162deg);
  }
  to {
    transform: rotate(198deg);
  }
}
.animate #second.second-3 {
  animation: animate-hand-3 60s linear infinite;
}

.animate #subsecond.subsecond-3 {
  animation: animate-hand-3 1s linear infinite;
}

#second.second-3,
#subsecond.subsecond-3 {
  transform: rotate(-162deg);
}

@keyframes animate-hand-4 {
  from {
    transform: rotate(-156deg);
  }
  to {
    transform: rotate(204deg);
  }
}
.animate #second.second-4 {
  animation: animate-hand-4 60s linear infinite;
}

.animate #subsecond.subsecond-4 {
  animation: animate-hand-4 1s linear infinite;
}

#second.second-4,
#subsecond.subsecond-4 {
  transform: rotate(-156deg);
}

@keyframes animate-hand-5 {
  from {
    transform: rotate(-150deg);
  }
  to {
    transform: rotate(210deg);
  }
}
.animate #second.second-5 {
  animation: animate-hand-5 60s linear infinite;
}

.animate #subsecond.subsecond-5 {
  animation: animate-hand-5 1s linear infinite;
}

#second.second-5,
#subsecond.subsecond-5 {
  transform: rotate(-150deg);
}

@keyframes animate-hand-6 {
  from {
    transform: rotate(-144deg);
  }
  to {
    transform: rotate(216deg);
  }
}
.animate #second.second-6 {
  animation: animate-hand-6 60s linear infinite;
}

.animate #subsecond.subsecond-6 {
  animation: animate-hand-6 1s linear infinite;
}

#second.second-6,
#subsecond.subsecond-6 {
  transform: rotate(-144deg);
}

@keyframes animate-hand-7 {
  from {
    transform: rotate(-138deg);
  }
  to {
    transform: rotate(222deg);
  }
}
.animate #second.second-7 {
  animation: animate-hand-7 60s linear infinite;
}

.animate #subsecond.subsecond-7 {
  animation: animate-hand-7 1s linear infinite;
}

#second.second-7,
#subsecond.subsecond-7 {
  transform: rotate(-138deg);
}

@keyframes animate-hand-8 {
  from {
    transform: rotate(-132deg);
  }
  to {
    transform: rotate(228deg);
  }
}
.animate #second.second-8 {
  animation: animate-hand-8 60s linear infinite;
}

.animate #subsecond.subsecond-8 {
  animation: animate-hand-8 1s linear infinite;
}

#second.second-8,
#subsecond.subsecond-8 {
  transform: rotate(-132deg);
}

@keyframes animate-hand-9 {
  from {
    transform: rotate(-126deg);
  }
  to {
    transform: rotate(234deg);
  }
}
.animate #second.second-9 {
  animation: animate-hand-9 60s linear infinite;
}

.animate #subsecond.subsecond-9 {
  animation: animate-hand-9 1s linear infinite;
}

#second.second-9,
#subsecond.subsecond-9 {
  transform: rotate(-126deg);
}

@keyframes animate-hand-10 {
  from {
    transform: rotate(-120deg);
  }
  to {
    transform: rotate(240deg);
  }
}
.animate #second.second-10 {
  animation: animate-hand-10 60s linear infinite;
}

.animate #subsecond.subsecond-10 {
  animation: animate-hand-10 1s linear infinite;
}

#second.second-10,
#subsecond.subsecond-10 {
  transform: rotate(-120deg);
}

@keyframes animate-hand-11 {
  from {
    transform: rotate(-114deg);
  }
  to {
    transform: rotate(246deg);
  }
}
.animate #second.second-11 {
  animation: animate-hand-11 60s linear infinite;
}

.animate #subsecond.subsecond-11 {
  animation: animate-hand-11 1s linear infinite;
}

#second.second-11,
#subsecond.subsecond-11 {
  transform: rotate(-114deg);
}

@keyframes animate-hand-12 {
  from {
    transform: rotate(-108deg);
  }
  to {
    transform: rotate(252deg);
  }
}
.animate #second.second-12 {
  animation: animate-hand-12 60s linear infinite;
}

.animate #subsecond.subsecond-12 {
  animation: animate-hand-12 1s linear infinite;
}

#second.second-12,
#subsecond.subsecond-12 {
  transform: rotate(-108deg);
}

@keyframes animate-hand-13 {
  from {
    transform: rotate(-102deg);
  }
  to {
    transform: rotate(258deg);
  }
}
.animate #second.second-13 {
  animation: animate-hand-13 60s linear infinite;
}

.animate #subsecond.subsecond-13 {
  animation: animate-hand-13 1s linear infinite;
}

#second.second-13,
#subsecond.subsecond-13 {
  transform: rotate(-102deg);
}

@keyframes animate-hand-14 {
  from {
    transform: rotate(-96deg);
  }
  to {
    transform: rotate(264deg);
  }
}
.animate #second.second-14 {
  animation: animate-hand-14 60s linear infinite;
}

.animate #subsecond.subsecond-14 {
  animation: animate-hand-14 1s linear infinite;
}

#second.second-14,
#subsecond.subsecond-14 {
  transform: rotate(-96deg);
}

@keyframes animate-hand-15 {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}
.animate #second.second-15 {
  animation: animate-hand-15 60s linear infinite;
}

.animate #subsecond.subsecond-15 {
  animation: animate-hand-15 1s linear infinite;
}

#second.second-15,
#subsecond.subsecond-15 {
  transform: rotate(-90deg);
}

@keyframes animate-hand-16 {
  from {
    transform: rotate(-84deg);
  }
  to {
    transform: rotate(276deg);
  }
}
.animate #second.second-16 {
  animation: animate-hand-16 60s linear infinite;
}

.animate #subsecond.subsecond-16 {
  animation: animate-hand-16 1s linear infinite;
}

#second.second-16,
#subsecond.subsecond-16 {
  transform: rotate(-84deg);
}

@keyframes animate-hand-17 {
  from {
    transform: rotate(-78deg);
  }
  to {
    transform: rotate(282deg);
  }
}
.animate #second.second-17 {
  animation: animate-hand-17 60s linear infinite;
}

.animate #subsecond.subsecond-17 {
  animation: animate-hand-17 1s linear infinite;
}

#second.second-17,
#subsecond.subsecond-17 {
  transform: rotate(-78deg);
}

@keyframes animate-hand-18 {
  from {
    transform: rotate(-72deg);
  }
  to {
    transform: rotate(288deg);
  }
}
.animate #second.second-18 {
  animation: animate-hand-18 60s linear infinite;
}

.animate #subsecond.subsecond-18 {
  animation: animate-hand-18 1s linear infinite;
}

#second.second-18,
#subsecond.subsecond-18 {
  transform: rotate(-72deg);
}

@keyframes animate-hand-19 {
  from {
    transform: rotate(-66deg);
  }
  to {
    transform: rotate(294deg);
  }
}
.animate #second.second-19 {
  animation: animate-hand-19 60s linear infinite;
}

.animate #subsecond.subsecond-19 {
  animation: animate-hand-19 1s linear infinite;
}

#second.second-19,
#subsecond.subsecond-19 {
  transform: rotate(-66deg);
}

@keyframes animate-hand-20 {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(300deg);
  }
}
.animate #second.second-20 {
  animation: animate-hand-20 60s linear infinite;
}

.animate #subsecond.subsecond-20 {
  animation: animate-hand-20 1s linear infinite;
}

#second.second-20,
#subsecond.subsecond-20 {
  transform: rotate(-60deg);
}

@keyframes animate-hand-21 {
  from {
    transform: rotate(-54deg);
  }
  to {
    transform: rotate(306deg);
  }
}
.animate #second.second-21 {
  animation: animate-hand-21 60s linear infinite;
}

.animate #subsecond.subsecond-21 {
  animation: animate-hand-21 1s linear infinite;
}

#second.second-21,
#subsecond.subsecond-21 {
  transform: rotate(-54deg);
}

@keyframes animate-hand-22 {
  from {
    transform: rotate(-48deg);
  }
  to {
    transform: rotate(312deg);
  }
}
.animate #second.second-22 {
  animation: animate-hand-22 60s linear infinite;
}

.animate #subsecond.subsecond-22 {
  animation: animate-hand-22 1s linear infinite;
}

#second.second-22,
#subsecond.subsecond-22 {
  transform: rotate(-48deg);
}

@keyframes animate-hand-23 {
  from {
    transform: rotate(-42deg);
  }
  to {
    transform: rotate(318deg);
  }
}
.animate #second.second-23 {
  animation: animate-hand-23 60s linear infinite;
}

.animate #subsecond.subsecond-23 {
  animation: animate-hand-23 1s linear infinite;
}

#second.second-23,
#subsecond.subsecond-23 {
  transform: rotate(-42deg);
}

@keyframes animate-hand-24 {
  from {
    transform: rotate(-36deg);
  }
  to {
    transform: rotate(324deg);
  }
}
.animate #second.second-24 {
  animation: animate-hand-24 60s linear infinite;
}

.animate #subsecond.subsecond-24 {
  animation: animate-hand-24 1s linear infinite;
}

#second.second-24,
#subsecond.subsecond-24 {
  transform: rotate(-36deg);
}

@keyframes animate-hand-25 {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(330deg);
  }
}
.animate #second.second-25 {
  animation: animate-hand-25 60s linear infinite;
}

.animate #subsecond.subsecond-25 {
  animation: animate-hand-25 1s linear infinite;
}

#second.second-25,
#subsecond.subsecond-25 {
  transform: rotate(-30deg);
}

@keyframes animate-hand-26 {
  from {
    transform: rotate(-24deg);
  }
  to {
    transform: rotate(336deg);
  }
}
.animate #second.second-26 {
  animation: animate-hand-26 60s linear infinite;
}

.animate #subsecond.subsecond-26 {
  animation: animate-hand-26 1s linear infinite;
}

#second.second-26,
#subsecond.subsecond-26 {
  transform: rotate(-24deg);
}

@keyframes animate-hand-27 {
  from {
    transform: rotate(-18deg);
  }
  to {
    transform: rotate(342deg);
  }
}
.animate #second.second-27 {
  animation: animate-hand-27 60s linear infinite;
}

.animate #subsecond.subsecond-27 {
  animation: animate-hand-27 1s linear infinite;
}

#second.second-27,
#subsecond.subsecond-27 {
  transform: rotate(-18deg);
}

@keyframes animate-hand-28 {
  from {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(348deg);
  }
}
.animate #second.second-28 {
  animation: animate-hand-28 60s linear infinite;
}

.animate #subsecond.subsecond-28 {
  animation: animate-hand-28 1s linear infinite;
}

#second.second-28,
#subsecond.subsecond-28 {
  transform: rotate(-12deg);
}

@keyframes animate-hand-29 {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(354deg);
  }
}
.animate #second.second-29 {
  animation: animate-hand-29 60s linear infinite;
}

.animate #subsecond.subsecond-29 {
  animation: animate-hand-29 1s linear infinite;
}

#second.second-29,
#subsecond.subsecond-29 {
  transform: rotate(-6deg);
}

@keyframes animate-hand-30 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate #second.second-30 {
  animation: animate-hand-30 60s linear infinite;
}

.animate #subsecond.subsecond-30 {
  animation: animate-hand-30 1s linear infinite;
}

#second.second-30,
#subsecond.subsecond-30 {
  transform: rotate(0deg);
}

@keyframes animate-hand-31 {
  from {
    transform: rotate(6deg);
  }
  to {
    transform: rotate(366deg);
  }
}
.animate #second.second-31 {
  animation: animate-hand-31 60s linear infinite;
}

.animate #subsecond.subsecond-31 {
  animation: animate-hand-31 1s linear infinite;
}

#second.second-31,
#subsecond.subsecond-31 {
  transform: rotate(6deg);
}

@keyframes animate-hand-32 {
  from {
    transform: rotate(12deg);
  }
  to {
    transform: rotate(372deg);
  }
}
.animate #second.second-32 {
  animation: animate-hand-32 60s linear infinite;
}

.animate #subsecond.subsecond-32 {
  animation: animate-hand-32 1s linear infinite;
}

#second.second-32,
#subsecond.subsecond-32 {
  transform: rotate(12deg);
}

@keyframes animate-hand-33 {
  from {
    transform: rotate(18deg);
  }
  to {
    transform: rotate(378deg);
  }
}
.animate #second.second-33 {
  animation: animate-hand-33 60s linear infinite;
}

.animate #subsecond.subsecond-33 {
  animation: animate-hand-33 1s linear infinite;
}

#second.second-33,
#subsecond.subsecond-33 {
  transform: rotate(18deg);
}

@keyframes animate-hand-34 {
  from {
    transform: rotate(24deg);
  }
  to {
    transform: rotate(384deg);
  }
}
.animate #second.second-34 {
  animation: animate-hand-34 60s linear infinite;
}

.animate #subsecond.subsecond-34 {
  animation: animate-hand-34 1s linear infinite;
}

#second.second-34,
#subsecond.subsecond-34 {
  transform: rotate(24deg);
}

@keyframes animate-hand-35 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(390deg);
  }
}
.animate #second.second-35 {
  animation: animate-hand-35 60s linear infinite;
}

.animate #subsecond.subsecond-35 {
  animation: animate-hand-35 1s linear infinite;
}

#second.second-35,
#subsecond.subsecond-35 {
  transform: rotate(30deg);
}

@keyframes animate-hand-36 {
  from {
    transform: rotate(36deg);
  }
  to {
    transform: rotate(396deg);
  }
}
.animate #second.second-36 {
  animation: animate-hand-36 60s linear infinite;
}

.animate #subsecond.subsecond-36 {
  animation: animate-hand-36 1s linear infinite;
}

#second.second-36,
#subsecond.subsecond-36 {
  transform: rotate(36deg);
}

@keyframes animate-hand-37 {
  from {
    transform: rotate(42deg);
  }
  to {
    transform: rotate(402deg);
  }
}
.animate #second.second-37 {
  animation: animate-hand-37 60s linear infinite;
}

.animate #subsecond.subsecond-37 {
  animation: animate-hand-37 1s linear infinite;
}

#second.second-37,
#subsecond.subsecond-37 {
  transform: rotate(42deg);
}

@keyframes animate-hand-38 {
  from {
    transform: rotate(48deg);
  }
  to {
    transform: rotate(408deg);
  }
}
.animate #second.second-38 {
  animation: animate-hand-38 60s linear infinite;
}

.animate #subsecond.subsecond-38 {
  animation: animate-hand-38 1s linear infinite;
}

#second.second-38,
#subsecond.subsecond-38 {
  transform: rotate(48deg);
}

@keyframes animate-hand-39 {
  from {
    transform: rotate(54deg);
  }
  to {
    transform: rotate(414deg);
  }
}
.animate #second.second-39 {
  animation: animate-hand-39 60s linear infinite;
}

.animate #subsecond.subsecond-39 {
  animation: animate-hand-39 1s linear infinite;
}

#second.second-39,
#subsecond.subsecond-39 {
  transform: rotate(54deg);
}

@keyframes animate-hand-40 {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(420deg);
  }
}
.animate #second.second-40 {
  animation: animate-hand-40 60s linear infinite;
}

.animate #subsecond.subsecond-40 {
  animation: animate-hand-40 1s linear infinite;
}

#second.second-40,
#subsecond.subsecond-40 {
  transform: rotate(60deg);
}

@keyframes animate-hand-41 {
  from {
    transform: rotate(66deg);
  }
  to {
    transform: rotate(426deg);
  }
}
.animate #second.second-41 {
  animation: animate-hand-41 60s linear infinite;
}

.animate #subsecond.subsecond-41 {
  animation: animate-hand-41 1s linear infinite;
}

#second.second-41,
#subsecond.subsecond-41 {
  transform: rotate(66deg);
}

@keyframes animate-hand-42 {
  from {
    transform: rotate(72deg);
  }
  to {
    transform: rotate(432deg);
  }
}
.animate #second.second-42 {
  animation: animate-hand-42 60s linear infinite;
}

.animate #subsecond.subsecond-42 {
  animation: animate-hand-42 1s linear infinite;
}

#second.second-42,
#subsecond.subsecond-42 {
  transform: rotate(72deg);
}

@keyframes animate-hand-43 {
  from {
    transform: rotate(78deg);
  }
  to {
    transform: rotate(438deg);
  }
}
.animate #second.second-43 {
  animation: animate-hand-43 60s linear infinite;
}

.animate #subsecond.subsecond-43 {
  animation: animate-hand-43 1s linear infinite;
}

#second.second-43,
#subsecond.subsecond-43 {
  transform: rotate(78deg);
}

@keyframes animate-hand-44 {
  from {
    transform: rotate(84deg);
  }
  to {
    transform: rotate(444deg);
  }
}
.animate #second.second-44 {
  animation: animate-hand-44 60s linear infinite;
}

.animate #subsecond.subsecond-44 {
  animation: animate-hand-44 1s linear infinite;
}

#second.second-44,
#subsecond.subsecond-44 {
  transform: rotate(84deg);
}

@keyframes animate-hand-45 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}
.animate #second.second-45 {
  animation: animate-hand-45 60s linear infinite;
}

.animate #subsecond.subsecond-45 {
  animation: animate-hand-45 1s linear infinite;
}

#second.second-45,
#subsecond.subsecond-45 {
  transform: rotate(90deg);
}

@keyframes animate-hand-46 {
  from {
    transform: rotate(96deg);
  }
  to {
    transform: rotate(456deg);
  }
}
.animate #second.second-46 {
  animation: animate-hand-46 60s linear infinite;
}

.animate #subsecond.subsecond-46 {
  animation: animate-hand-46 1s linear infinite;
}

#second.second-46,
#subsecond.subsecond-46 {
  transform: rotate(96deg);
}

@keyframes animate-hand-47 {
  from {
    transform: rotate(102deg);
  }
  to {
    transform: rotate(462deg);
  }
}
.animate #second.second-47 {
  animation: animate-hand-47 60s linear infinite;
}

.animate #subsecond.subsecond-47 {
  animation: animate-hand-47 1s linear infinite;
}

#second.second-47,
#subsecond.subsecond-47 {
  transform: rotate(102deg);
}

@keyframes animate-hand-48 {
  from {
    transform: rotate(108deg);
  }
  to {
    transform: rotate(468deg);
  }
}
.animate #second.second-48 {
  animation: animate-hand-48 60s linear infinite;
}

.animate #subsecond.subsecond-48 {
  animation: animate-hand-48 1s linear infinite;
}

#second.second-48,
#subsecond.subsecond-48 {
  transform: rotate(108deg);
}

@keyframes animate-hand-49 {
  from {
    transform: rotate(114deg);
  }
  to {
    transform: rotate(474deg);
  }
}
.animate #second.second-49 {
  animation: animate-hand-49 60s linear infinite;
}

.animate #subsecond.subsecond-49 {
  animation: animate-hand-49 1s linear infinite;
}

#second.second-49,
#subsecond.subsecond-49 {
  transform: rotate(114deg);
}

@keyframes animate-hand-50 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
.animate #second.second-50 {
  animation: animate-hand-50 60s linear infinite;
}

.animate #subsecond.subsecond-50 {
  animation: animate-hand-50 1s linear infinite;
}

#second.second-50,
#subsecond.subsecond-50 {
  transform: rotate(120deg);
}

@keyframes animate-hand-51 {
  from {
    transform: rotate(126deg);
  }
  to {
    transform: rotate(486deg);
  }
}
.animate #second.second-51 {
  animation: animate-hand-51 60s linear infinite;
}

.animate #subsecond.subsecond-51 {
  animation: animate-hand-51 1s linear infinite;
}

#second.second-51,
#subsecond.subsecond-51 {
  transform: rotate(126deg);
}

@keyframes animate-hand-52 {
  from {
    transform: rotate(132deg);
  }
  to {
    transform: rotate(492deg);
  }
}
.animate #second.second-52 {
  animation: animate-hand-52 60s linear infinite;
}

.animate #subsecond.subsecond-52 {
  animation: animate-hand-52 1s linear infinite;
}

#second.second-52,
#subsecond.subsecond-52 {
  transform: rotate(132deg);
}

@keyframes animate-hand-53 {
  from {
    transform: rotate(138deg);
  }
  to {
    transform: rotate(498deg);
  }
}
.animate #second.second-53 {
  animation: animate-hand-53 60s linear infinite;
}

.animate #subsecond.subsecond-53 {
  animation: animate-hand-53 1s linear infinite;
}

#second.second-53,
#subsecond.subsecond-53 {
  transform: rotate(138deg);
}

@keyframes animate-hand-54 {
  from {
    transform: rotate(144deg);
  }
  to {
    transform: rotate(504deg);
  }
}
.animate #second.second-54 {
  animation: animate-hand-54 60s linear infinite;
}

.animate #subsecond.subsecond-54 {
  animation: animate-hand-54 1s linear infinite;
}

#second.second-54,
#subsecond.subsecond-54 {
  transform: rotate(144deg);
}

@keyframes animate-hand-55 {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(510deg);
  }
}
.animate #second.second-55 {
  animation: animate-hand-55 60s linear infinite;
}

.animate #subsecond.subsecond-55 {
  animation: animate-hand-55 1s linear infinite;
}

#second.second-55,
#subsecond.subsecond-55 {
  transform: rotate(150deg);
}

@keyframes animate-hand-56 {
  from {
    transform: rotate(156deg);
  }
  to {
    transform: rotate(516deg);
  }
}
.animate #second.second-56 {
  animation: animate-hand-56 60s linear infinite;
}

.animate #subsecond.subsecond-56 {
  animation: animate-hand-56 1s linear infinite;
}

#second.second-56,
#subsecond.subsecond-56 {
  transform: rotate(156deg);
}

@keyframes animate-hand-57 {
  from {
    transform: rotate(162deg);
  }
  to {
    transform: rotate(522deg);
  }
}
.animate #second.second-57 {
  animation: animate-hand-57 60s linear infinite;
}

.animate #subsecond.subsecond-57 {
  animation: animate-hand-57 1s linear infinite;
}

#second.second-57,
#subsecond.subsecond-57 {
  transform: rotate(162deg);
}

@keyframes animate-hand-58 {
  from {
    transform: rotate(168deg);
  }
  to {
    transform: rotate(528deg);
  }
}
.animate #second.second-58 {
  animation: animate-hand-58 60s linear infinite;
}

.animate #subsecond.subsecond-58 {
  animation: animate-hand-58 1s linear infinite;
}

#second.second-58,
#subsecond.subsecond-58 {
  transform: rotate(168deg);
}

@keyframes animate-hand-59 {
  from {
    transform: rotate(174deg);
  }
  to {
    transform: rotate(534deg);
  }
}
.animate #second.second-59 {
  animation: animate-hand-59 60s linear infinite;
}

.animate #subsecond.subsecond-59 {
  animation: animate-hand-59 1s linear infinite;
}

#second.second-59,
#subsecond.subsecond-59 {
  transform: rotate(174deg);
}

/*# sourceMappingURL=style.css.map */
