body {
  background-color: #f00;
}

main {
  position: relative;
  width: 540px;
  height: 540px;
  margin: 50px auto;
  background-color: #111;
}

.centered, .ticks span, .dot, #subsecond:after, #subsecond, #second, .clock, .case {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.case {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 10px solid #eee;
}

.clock {
  background-color: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ccc;
}

#second {
  height: 35%;
  margin-left: -2px;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform-origin: 50% 0%;
  transform: rotate(0deg);
}

#subsecond {
  height: 40%;
  margin-left: -1px;
  border-left: 1px solid #FFCD00;
  border-right: 1px solid #FFCD00;
  transform-origin: 50% 0%;
  transform: rotate(0deg);
}

#subsecond:after {
  content: " ";
  top: -20px;
  border-left: 5px solid #FFCD00;
  border-bottom: 15px solid #FFCD00;
  border-top: 15px solid #FFCD00;
  border-radius: 25% 25% 0px 0px;
}

.dot {
  background-color: #000;
  height: 5px;
  width: 5px;
  border: 10px solid #FFCD00;
  border-radius: 50%;
}

.ticks span {
  border-top: 2px solid #fff;
  width: 20px;
  transform: rotate(0deg);
  left: calc(50% - 10px);
}
.ticks span:nth-child(1) {
  transform: rotate(6deg) translateX(230px);
}
.ticks span:nth-child(2) {
  transform: rotate(12deg) translateX(230px);
}
.ticks span:nth-child(3) {
  transform: rotate(18deg) translateX(230px);
}
.ticks span:nth-child(4) {
  transform: rotate(24deg) translateX(230px);
}
.ticks span:nth-child(5) {
  transform: rotate(30deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(6) {
  transform: rotate(36deg) translateX(230px);
}
.ticks span:nth-child(7) {
  transform: rotate(42deg) translateX(230px);
}
.ticks span:nth-child(8) {
  transform: rotate(48deg) translateX(230px);
}
.ticks span:nth-child(9) {
  transform: rotate(54deg) translateX(230px);
}
.ticks span:nth-child(10) {
  transform: rotate(60deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(11) {
  transform: rotate(66deg) translateX(230px);
}
.ticks span:nth-child(12) {
  transform: rotate(72deg) translateX(230px);
}
.ticks span:nth-child(13) {
  transform: rotate(78deg) translateX(230px);
}
.ticks span:nth-child(14) {
  transform: rotate(84deg) translateX(230px);
}
.ticks span:nth-child(15) {
  transform: rotate(90deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(16) {
  transform: rotate(96deg) translateX(230px);
}
.ticks span:nth-child(17) {
  transform: rotate(102deg) translateX(230px);
}
.ticks span:nth-child(18) {
  transform: rotate(108deg) translateX(230px);
}
.ticks span:nth-child(19) {
  transform: rotate(114deg) translateX(230px);
}
.ticks span:nth-child(20) {
  transform: rotate(120deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(21) {
  transform: rotate(126deg) translateX(230px);
}
.ticks span:nth-child(22) {
  transform: rotate(132deg) translateX(230px);
}
.ticks span:nth-child(23) {
  transform: rotate(138deg) translateX(230px);
}
.ticks span:nth-child(24) {
  transform: rotate(144deg) translateX(230px);
}
.ticks span:nth-child(25) {
  transform: rotate(150deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(26) {
  transform: rotate(156deg) translateX(230px);
}
.ticks span:nth-child(27) {
  transform: rotate(162deg) translateX(230px);
}
.ticks span:nth-child(28) {
  transform: rotate(168deg) translateX(230px);
}
.ticks span:nth-child(29) {
  transform: rotate(174deg) translateX(230px);
}
.ticks span:nth-child(30) {
  transform: rotate(180deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(31) {
  transform: rotate(186deg) translateX(230px);
}
.ticks span:nth-child(32) {
  transform: rotate(192deg) translateX(230px);
}
.ticks span:nth-child(33) {
  transform: rotate(198deg) translateX(230px);
}
.ticks span:nth-child(34) {
  transform: rotate(204deg) translateX(230px);
}
.ticks span:nth-child(35) {
  transform: rotate(210deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(36) {
  transform: rotate(216deg) translateX(230px);
}
.ticks span:nth-child(37) {
  transform: rotate(222deg) translateX(230px);
}
.ticks span:nth-child(38) {
  transform: rotate(228deg) translateX(230px);
}
.ticks span:nth-child(39) {
  transform: rotate(234deg) translateX(230px);
}
.ticks span:nth-child(40) {
  transform: rotate(240deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(41) {
  transform: rotate(246deg) translateX(230px);
}
.ticks span:nth-child(42) {
  transform: rotate(252deg) translateX(230px);
}
.ticks span:nth-child(43) {
  transform: rotate(258deg) translateX(230px);
}
.ticks span:nth-child(44) {
  transform: rotate(264deg) translateX(230px);
}
.ticks span:nth-child(45) {
  transform: rotate(270deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(46) {
  transform: rotate(276deg) translateX(230px);
}
.ticks span:nth-child(47) {
  transform: rotate(282deg) translateX(230px);
}
.ticks span:nth-child(48) {
  transform: rotate(288deg) translateX(230px);
}
.ticks span:nth-child(49) {
  transform: rotate(294deg) translateX(230px);
}
.ticks span:nth-child(50) {
  transform: rotate(300deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(51) {
  transform: rotate(306deg) translateX(230px);
}
.ticks span:nth-child(52) {
  transform: rotate(312deg) translateX(230px);
}
.ticks span:nth-child(53) {
  transform: rotate(318deg) translateX(230px);
}
.ticks span:nth-child(54) {
  transform: rotate(324deg) translateX(230px);
}
.ticks span:nth-child(55) {
  transform: rotate(330deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}
.ticks span:nth-child(56) {
  transform: rotate(336deg) translateX(230px);
}
.ticks span:nth-child(57) {
  transform: rotate(342deg) translateX(230px);
}
.ticks span:nth-child(58) {
  transform: rotate(348deg) translateX(230px);
}
.ticks span:nth-child(59) {
  transform: rotate(354deg) translateX(230px);
}
.ticks span:nth-child(60) {
  transform: rotate(360deg) translateX(230px);
  border-top-width: 5px;
  margin-left: -5px;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
