@use "sass:math";

$bgColor: #111;
$clockSize: 500px;
$clockBgColor: #000;
$caseColor: #eee;

body {
  background-color: #f00;
}
main {
  position: relative;
  width: $clockSize + 40px;
  height: $clockSize + 40px;
  margin: 50px auto;
  background-color: $bgColor;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.case {
  @extend .centered;
  height: $clockSize;
  width: $clockSize;
  border-radius: 50%;
  border: 10px solid $caseColor;
}
.clock {
  @extend .centered;
  background-color: $clockBgColor;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ccc;
}
@mixin hand($w, $h, $c) {
  @extend .centered;
  height: $h;
  margin-left: -$w;
  border-left: $w solid $c;
  border-right: $w solid $c;
  transform-origin: 50% 0%;
  transform: rotate(0deg);
}
#second {
  @include hand(2px, 35%, #FFF);
}
#subsecond {
  @include hand(1px, 40%, #FFCD00);
}
#subsecond:after {
  @extend .centered;
  content: " ";
  top: -20px;
  border-left: 5px solid #FFCD00;
  border-bottom: 15px solid #FFCD00;
  border-top: 15px solid #FFCD00;
  border-radius: 25% 25% 0px 0px;
}
.dot {
  @extend .centered;
  background-color: #000;
  height: 5px;
  width: 5px;
  border: 10px solid #FFCD00;
  border-radius: 50%;
}
.ticks span {
  $h: 20px;
  @extend .centered;
  border-top: 2px solid #fff;
  width: $h;
  transform: rotate(0deg);
  left: calc(50% - #{math.div($h, 2)});
  @for $i from 1 through 60 {
    &:nth-child(#{$i}) {
      transform: rotate(math.div($i, 60) * 360deg) translateX(math.div($clockSize, 2) - $h);
      @if $i % 5==0 {
        border-top-width: 5px;
        margin-left: -5px;
        width: 30px;
      }
    }
  }
}
@mixin animate-hand($start) {
  $deg: math.div($start, 60) * 360deg - 180deg;
  @keyframes animate-hand-#{$start} {
    from {
      transform: rotate($deg)
    }
    to {
      transform: rotate($deg + 360deg)
    }
  }
}
@for $i from 0 through 59 {
  @include animate-hand($i);
  .animate #second.second-#{$i} {
    animation: animate-hand-#{$i} 60s linear infinite;
  }
  .animate #subsecond.subsecond-#{$i} {
    animation: animate-hand-#{$i} 1s linear infinite;
  }

  #second.second-#{$i},
  #subsecond.subsecond-#{$i} {
    transform: rotate(math.div($i, 60) * 360deg - 180deg);
  }
}
